@font-face {
  font-family: 'GroteskRegular';
  src: url('./assets/fonts/grotesk_be_regular.woff') format('woff');
}

html {
  font-size: 100%
}

body {
  margin: 0;
  background-color: #0B0A21;
  font-family: 'GroteskRegular';
  color: #48EB97;
}

#nav {
  font-size: 3em;
  color:  #48EB97;
}

a {
  color:  #48EB97;
}

#app {
  width: 980px;
  height: 100vh;
  margin: auto;
  /* border-style: dashed; */
}

#form-logo {
  font-size: 6em;
  text-align: center
}

#entity-input-container {
  margin-top: 10vw;
  text-align: center;
}

#week-view-container {
  display: flex;
  justify-content: space-between;
}

#nav div {
  display: inline-block;
  width: 33%;
}

#nav-search-container {
  text-align: center;
}

#nav-search {
  vertical-align: middle;
  width: 275px;
  margin-right: 75px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #48EB97;
  font-size: .5em;
  outline: none;
  background-color: #0B0A21;
  border-color: #48EB97;
  border-style: solid;
  border-width: 2px;
}

#nav img {
  vertical-align: middle;
  object-fit: contain;
  width: 50px;
  height: 50px;
  margin: 10px;
}

#main-logo {
  padding-bottom: 1%;
}

#show-container {
  width: 100%;
  border-color: #48EB97;
  border-width: 2px;
  border-style: solid;
}

#show-details-container {
  font-size: 1.75em;
  width: 52.5%;
  padding-left: 2.5%;
  display: inline-block;
  vertical-align: top;
}

.show-info {
  margin-left: 5%;
}

.show-image {
  width: 42.5%;
  vertical-align: top;
  display: inline-block;
}

.form-select {
  color: #48EB97;
  width: 250px;
  height: 50px;
  font-size: 2.5em;
  display: inline-block;
  border-style: solid;
  border-color: #48EB97;
  border-width: 5px;
  padding: 20px;
  margin: 5px;
}

.form-container {
  margin-top: 10vw;
  text-align: center;
}

.form-select:hover{
  cursor: pointer;
}

.form-input {
  text-transform: uppercase;
  display: inline-block;
  color: #48EB97;
  font-size: 2.5em;
  outline: none;
  background-color: #0B0A21;
  border-color: #48EB97;
  border-style: solid;
  border-width: 5px;
  width: 510px;
  height: 50px;
  padding: 20px;
  margin: 5px;
}

.form-input::placeholder {
  color: #48EB97;
  text-transform: uppercase;
}

.week-day-column-container {
  width: 200px;
}

.week-day-column {
  border-color: #48EB97;
  border-style: solid;
  border-width: 2px;
  height: 90vh;
  overflow: scroll;
}

.left-info {
  text-align: left;
}

.bold {
  font-weight: bold;
}

.week-view-info {
  margin-bottom: 10px;
}

.right-info {
  float: right;
  text-align: right;
}

.week-view-event {
  max-width: 196px;
  text-align: left;
  border-bottom: 2px solid #48EB97;
  margin-bottom: 10px;
}

.week-view-event img {
  object-fit: cover;
  width: 100%;
}

.entity-show-event {
  margin: 0 3.5px;
}

.entity-show-event img {
  object-fit: cover;
  width: 50px;
  height: 50px;
}

.entity-show-events-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}
