@font-face {
  font-family: 'GroteskRegular';
  src: url('./assets/fonts/grotesk_be_regular.woff') format('woff');
}

html {
  font-size: 100%
}

body {
  margin: 0;
  background-color: #0B0A21;
  font-family: 'GroteskRegular';
  color: #48EB97;
}

#nav-container {
  font-size: 4em;
}
